.userInput {
  width: 50%;
  margin: 5;
}

.userInput .MuiInputBase-root-MuiOutlinedInput-root {
  color: '#ffffff' !important ;
  font-size: 4 !important;
}

/* style: { fontSize: 14, color: "primary" } */