.userInput {
  width: 50%;
  margin: 5;
}

.userInput .MuiFormLabel-root {
  color: '#ffffff' !important ;
  font-size: 4 !important;
}

.Box .css-cw7cz7-MuiFormLabel-root-MuiInputLabel-root {
  color: '#ffffff' !important ;
  font-size: 4 !important;
}

/* style: { fontSize: 14, color: "primary" } */